/* Common Utilityes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* This is Header Section */

.header{
    
    width: 100%;
    height:950px;
    background-color: rgba(255, 144, 14, 0.1);
    /* border: 2px solid red ; */  
    
}
/* Nave section Style  */
.nav-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}
.nav-sub-div ul{
    display: flex;
    list-style: none;
}

.nav-header{
    font-weight: 700;
    font-size: 2.5em;
}


.nav-sub-div ul li{
    margin-left: 15px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}


.header-div{
    height: 100%;
    width: 100%;   /* border: 1px solid red ;   */

}
.header-div-sub{
    text-align: center;
    margin: 50px 240px;
    /* border: 1px solid red; */
    /* position: absolute; */
    
    
}
.header-div-sub h1{
    font-weight: 700;
    font-size: 64px;
}
.header-div-sub p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 5px;
}
.btn{
    margin-top: 50px;
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    padding: 20px;
    border-radius: 8px;
}


.header-div-sub img{
    max-width: 100%;
    max-height: 100%; 
    margin-top: 50px; 
    
}
/* Main section */

.main-div{
    display: flex;
    padding: 100px 120px;
}


.main-grid-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px ;
}
.main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 70px;
}
.color-change1{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.main-peragraph{
    font-weight: 700;
    font-size: 45px;
}
.color-change2{
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}
.main-sec-pragraph{
    margin-top: 20px;

}

/* -----------------------
 Features Start Style
 ........................ */
 .features {
    padding: 80px ;
    display: flex;
    justify-content: center
    
}

.title {
    width: 100%; 
    padding-right: 50px;
}
.title-2{
    text-align: center;
}

.title-2 img{
    
    
    max-width: 100%;
    max-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
   
}

.box-title {
    display: flex;
    align-items: center;

}

.box {
    width: 8px;
    height: 106px;
    background-color: #FF900E;
    ;
}

.heding {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding-left: 10px;

}

.sub-title {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
}

.box-1 {
    margin-top: 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 15px;
}

.box-1-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.box-1-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}
.btn-sp span{
    font-weight: 700;
    font-size: 65px;
}
.btn-sp{
    padding: 45px;
    position: relative;
    bottom: 200px;
    z-index: 1;

}



/* -----------------------
 Features End Style
 ........................ */

/* -----------------------
 Some-Facts Start Style
 ........................ */


.Some-Facts {
    text-align: center;

}

.sf-text {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.sf-description {
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}


.cards {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.card {
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 36px 45px;
    transition: transform 0.3s ease-in;

}

.card:hover {
    transform: translateY(-10px)
}

.card img {
    width: 45.22px;
    height: 45.22px;
}

.card h1 {
    font-weight: 600;
    font-size: 45px;
    color: #424242;

}

.card p {
    font-weight: 600;
    font-size: 16px;
    color: #727272;
}

/* -----------------------
 Card End Style
 ........................ */
/* -----------------------
 Sponsor Start Style
 ........................ */
 .sponsor{
    display: flex;
    flex-direction: column;
    padding: 150px 100px ;
    
 }

.Sponsors {
    text-align: center;
}

.Sponsors h1 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.Sponsors p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}

.clients {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    
}
.client{
    filter: grayscale(100%);
}

/* Sponsor End Style*/


/* Footer Start Style */
.footer {
    margin: 0px 150px 100px 150px;
    padding: 40px 150px;
    background: #FFF4E7;
    border-radius: 8px;
    
}

.footer p {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #424242;
}



/* Footer End Style */

 /* Latest Courses Section */

 .latest-title{
    color: #562EFF;
    font-size: 24px;
    margin: 50px 0px 60px 40px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    justify-items: center;
    margin-bottom: 100px;
    
}
.course{
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-banner img{
    width: 224px;
    height: 104px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
    opacity: 0.25;
    
}
.course-duration{
    border-radius: 15px;
    color: #FF4A60;
    background-color: #FFE4E8;
    padding: 5px;
}



 /* --------------------------------------
 Responsive Design for Mobile device Style
 ----------------------------------------- */

  @media only screen and (max-width: 576px) { 
    .nav-div{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-sub-div ul li{
        margin-left: 10px;
    }
    .header-div-sub{
        
        margin: 0 auto;
        text-align: left;
    }
    .header-div-sub img{
        
    }
    .main-div{
        flex-direction: column;
        padding: 10px;
    }
    .main-grid-section{
        grid-template-columns: repeat(1, 1fr);
    }
    .main-text{
        padding-left: 0px;
    }
    .features{
        flex-direction: column;
        padding: 2px;
    }
    .title{
        padding-right: 5px;
    }

    .some-fact-section{
        padding: 10px;
    }
    .Some-Facts{
        text-align: left;
    }
    .cards{
        flex-direction: column;
        justify-content: space-around ;
    }
    .card{
        text-align: left;
        padding: 5px;
    }
    .Some-Facts{
        padding: 10px;
    }
    .Sponsors{
        text-align: left;
    }
    .sponsor{
        padding: 10px;
    }
    .clients{
        flex-direction: column;
        margin-top: 25px;
        padding: 0;
        
    }
    .footer{
        margin: 0;
        padding: 10px 20px;
    }
    .footer p {
        text-align: left;
    }

    .courses{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: start
    }
    .course{
        flex-direction: column;
    }



  }

 /*-----------------------------------
 Responsive Design for Mobile device Style
 ----------------------------------------- */
